name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: sudo apt-get install libgtest-dev google-mock libspdlog-dev libcublas10 nvidia-cuda-toolkit
      run: sudo apt-get update && sudo apt-get install libgtest-dev libgmock-dev google-mock libspdlog-dev libcublas10 nvidia-cuda-dev
    - name: make and run tests in sanitizer mode
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug -DCUBLAS_BUILD_CUDA_PART:BOOL=OFF .. && make -j && cd .. && ./build/mtrxCublas/mtrxHostCublasTests --gtest_shuffle
    - name: make and run tests in release mode
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release -DCUBLAS_BUILD_CUDA_PART:BOOL=OFF .. && make -j && cd .. && ./build/mtrxCublas/mtrxHostCublasTests --gtest_shuffle
